# Объектные файлы
*.d *.slo *.lo *.o *.obj

# Прекомпилированные заголовки
*.gch *.pch

# Линкер
*.ilk

# Отладчик
*.pdb

# Динамические библиотеки
*.so *.dylib *.dll

# Статические библиотеки
*.lai *.la *.a *.lib

# Исполняемые файлы
*.exe *.out *.app

# Отладочная информация
*.dwo

# Временные файлы архиватора
*.tmp
*.haf

# Сборка
build/

# IDE
.vscode/
.idea/
*.user

# Репомикс
repomix-output.xml
*.vscode